
<div class = "mx-auto" style="width: 800px;">

  <div class="card-product">
    <%= cl_image_tag pet.photo.key%>
    <div class="card-product-infos">
      <h2><%= link_to pet.name, pet_path(pet) %> </h2>
      <p><%= pet.description %> </p>
    </div>

  </div>
  <br>
