          <div class="col-4">
            <div class="card-trip">
              <%= cl_image_tag pet.photo.key%>
              <div class="card-trip-infos">
                <div>
                  <h2><%= link_to pet.name, pet_path(pet) %> </h2>
                  <p><%= pet.description[0..82] %>... </p>
                </div>
                <h2 class="card-trip-pricing">£99.99</h2>
                <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
              </div>
            </div>
          </div>
