<br>
<div class = "mx-auto" style="width: 800px;">

<h1>Pick your lovely friend</h1>

<% @pets.each do |pet| %>
  <%= link_to pet.name, pet_path(pet), class: 'btn btn-secondary' %>
<% end %>

</div>
<br>


