<div class = "mx-auto" style="width: 800px;">
  <div id = 'container'>

    <h1 class="text-center mt-4">Pick your lovely friend</h1>
    <br>

    <%= render 'shared/filter_category'%>
    <br>

    <!-- Results from Search Bar-->
    <%= render @pets %>


  </div>

 </div>
