<div class = "mx-auto" style="width: 800px;">
  <div id = 'container'>
    <%= cl_image_tag("pets_vector_v52iru.png", class: "mx-auto d-block", :size => '500X500')%>
    <br>
    <div class="text-center">
      <h1>Pick your lovely <b>friend</b></h1>
    </div>
    <br>
    
    <!--Filter Category Icons-->
    <%= render 'shared/filter_category'%>
    
    <br>

    <!-- Results from Search Bar-->
    <%= render @pets %>
    
  </div>
</div>
