<br>
<div class = "mx-auto" style="width: 500px;">
<h1>Profile </h1>
<p><b>Name: </b><%= current_user.name %></p>
<p><b>Email Address: </b><%= current_user.email %></p>
<p><b>Region: </b><%= current_user.region.name %></p>
<p><b>Phone Number: </b><%= current_user.phone_number %></p>
