
<!-- <h1><% if user_signed_in? %> Welcome <%= current_user.name %></h1>
 -->
 <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1548199973-03cce0bbc87b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
  <div class="container">
    <h1><strong>Irresponsible</strong> and <strong>Lonely</strong>?</h1>
    <p>Find your happy pet today!</p>
    <%= link_to "View pets", pets_path, class: "btn btn-primary"%>
  </div>
</div>
 <% end %>


