<br>
<div class = "mx-auto" style="width: 400px;">

<h2>
  <b>Create a new review for
    <% if @review.reviewable.class == User %>
      <%= @review.reviewable.email %>
    <% else %>
      <%= @review.reviewable.pet.name %>
    <% end %>
</b></h2>
<%= render 'form'%>
</div>
<br>
